*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
/* HEADER START */
#header{
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  z-index: 1000;
}

#header h1{
  font-size: 2em;
  color: white;
}
#header h1 span{
  color: #63d18a;
}

#header nav a{
  color: #fff;
  text-decoration: none;
  margin-left: 90px;
  text-transform: uppercase;
}
#header nav a:hover{
  color: #31c261;
}
/* HEADER END */
/* HERO SECTION START */
#home{
  background-image: url(./main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  min-height: 100vh;
  padding: 120px 60px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

#home #hero-text{
  width: 50%;
}
#hero-text h1{
  font-size: 48px;
  margin-bottom: 20px;
  color: white;
}

#hero-text #sub-heading{
  color: #6aff9f;
}
#hero-text p{
  line-height: 1.6;
  margin-bottom: 30px;
  color: white;
}

.btns{
  display: flex;
  gap: 15px;
}
.btns .btn-outline{
  padding: 12px 20px;
  background: transparent;
  border: 2px solid #6aff9f;
  color: #1c8b43;
  font-size: 15px;
  cursor: pointer;
}
.btns .btn-fill{
  padding: 12px 20px;
  background: #6aff9f;
  border: none;
  color: #000;
  font-size: 15px;
  cursor: pointer;
}
/* HERO-SECTION IMAGE */
#hero-img{
  width: 50%;
  display: flex;
  justify-content: center;
}
#hero-img img{
  max-width: 600px;
  animation: floatupdown 2s ease-in-out infinite;
}
@keyframes floatupdown{
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-20px);
  }
  100%{
    transform: translateY(0);
  }
}
/* HERO SECTION END */
/* FEATURE-SECTION START */
#feature-section{
  display: flex;
  height: 100vh;
  padding: 80px 60px;
  background: #f5f5f5;
}
#feature-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* LEFT IMAGES */
#feature-img{
  padding-top: 90px;
  width: 60%;
}
#feature-img img{
  height: 400px;
  width: 100%;
  max-width: 420px;
  animation: floatupdown 2s ease-in-out infinite;
}
/* RIGHT  CONTENT*/
#feature-content{
  width: 100%;
}
#feature-content h2{
  font-size: 36px;
  margin-bottom: 3px;
}
#feature-content h2 span{
  color: #4CAF50;
}
#feature-content p{
  color: #555;
  margin-bottom: 30px;
}
#features{
  display: flex;
  flex-direction: column;
  padding-top: 60px ;
  padding-left: 90px;
}
.feature-points h4{
  font-size: 18px;
  margin-bottom: 5px;
}
.feature-points p{
  font-size: 14px;
  color: #666;
}
/* FEATURE-SECTION END */
/* ABOUT SECTION START */
#about{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  padding: 80px 60px;
  background-color: white;
}
#about h1{
  text-align: center;
  font-size: 32px;
  padding: 2px;
}
#about h1 span{
  color: #4CAF50;
}
#about p{
  text-align: center;
  color: #333;
  padding-bottom: 90px;
}
/* LEFT CONTENT */
#about-container{
  display: flex;
  width: 100%; 
   
}
#about-container h2{
padding-top: 40px;
  font-size: 33px;
  margin-bottom: 15px;
}
#about-container p{
  font-size: 1em;
  line-height: 1.6;
  color: #555;
  width: 90%;
  text-align: justify;
  height: 350px;

}
/* Right image */
#about-image{
  width: 100%;
}

#about-image img{
  height: 450px;
  animation: floatupdown 2s ease-in-out infinite;
}
/* ABOUT SECTION END */
/* FACTS SECTION START */
#facts{
  background: url("back1.avif") center/cover no-repeat;
  margin-top: 150px;
  height: 430px;
}
#facts-container{
  min-height: 300px;
  background: rgba(0,0,0,0.5);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#facts #facts-container h2{
  padding-top: 40px;
  font-size: 36px;
  margin-bottom: 10px;
  color: white;
}
#facts #facts-container p{
  margin-bottom: 50px;
  font-size: 14px;
}
#stats{
  display: flex;
  gap: 150px;
  font-size: 5em;
}
#facts-content{
  background-color: white;
}
#facts-content h1{
  color: black;
  margin-top: 40px;
  font-size: 3em;
}
#facts-content h1 span{
  color:#4CAF50;
}
#facts-content p{
  color: #333;
  line-height: 1.7;
}
/* FACTS SECTION END */
/* FEATURE HIGHLIGHT SECTION START */
#feature-highlight-section{
  display: flex;
  height: 100vh;
  padding: 80px 60px;
  background: black;
}
#feature-hightlight-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* LEFT IMAGES */
#feature-hightlight-img{
  padding-top: 90px;
  width: 60%;
  animation: floatupdown 2s ease-in-out infinite;
}
#feature-highlight-img img{
  height: 400px;
  width: 100%;
  max-width: 420px;
}
/* RIGHT  CONTENT*/
#feature-hightlight-content{
  width: 100%;
}
#feature-highlight-content h2{
  font-size: 36px;
  margin-bottom: 3px;
  color: rgb(153, 144, 144);
}
#feature-highlight-content h2 span{
  color: rgb(90, 87, 87);
}
#feature-highlight-content p{
  color: #c7c0c0;
  margin-bottom: 30px;
}
#features-highlight{
  display: flex;
  flex-direction: column;
  padding-top: 60px ;
  padding-left: 90px;
}
.feature-highlight-points h4{
  font-size: 18px;
  margin-bottom: 5px;
  color: white;
}
.feature-highlight-points p{
  font-size: 14px;
  color: rgb(90, 87, 87);
}
/* FEATURE HIGHLIGHT SECTION END */
/* SPOTLIGHT SECTION START */
#spotlight-section{
  min-height: 250px;
  background: url("back1.avif") no-repeat center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#spotlight-section #spotlight-container{
  min-height: 300px;
}
#spotlight-section  #spotlight-container h1{
  color: rgb(68, 16, 25);
  text-align: center;
  padding-top: 30px;
  font-size: 3em;
}
#spotlight-section  #spotlight-container p{
  color: black;
  text-align: center;
  padding: 0 70px;
  font-size: 1em;
  line-height: 1.3;
}
#spotlight-section  #spotlight-container button{
  padding: 18px 22px;
  background: green;
  border: 2px solid #6aff9f;
  color: white;
  font-size: 15px;
  cursor: pointer;
  margin: 0 auto;
  position: absolute;
  left: 45%;
}
/* SPOTLIGHT SECTION END */
/* GALLERY SECTION START */
#gallery{
  padding:60px 0;
  text-align:center;
  background:#f6f6f6;
}
#title{
  color:#4caf50;
  letter-spacing:3px;
  margin-bottom:40px;
  font-size: 3em;
}
#gallery i{
  font-size: 1em;
  color: black;
}
.hex-grid{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  gap:20px;
  max-width:1100px;
  margin:auto;
}
.hex{
  width:220px;
  height:250px;
  background:#000;
  overflow:hidden;
}
.hex img{
  width:100%;
  height:100%;
  object-fit:cover;
}
/* GALLERY SECTION END */
/* FORM SECTION START */
#contact{
  background-image: url(main.jpg);
  background-repeat: no-repeat ;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#contact-wrapper{
  display: flex;
  width: 900px;
  max-width: 95%;
}

/* Left Form */
#contact-form{
  flex: 1;
  background: #111;
  padding: 40px;
  color: #fff;
}
#contact-form h2{
  margin-bottom: 25px;
}
#contact-form input,
#contact-form textarea{
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid #777;
  margin-bottom: 20px;
  padding: 10px 0;
  color: #fff;
  outline: none;
}
#contact-form textarea{
  resize: none;
  height: 90px;
}
#contact-form button{
  background: #7bed9f;
  border: none;
  padding: 12px 30px;
  cursor: pointer;
  font-weight: bold;
}
/* Right Info */
#contact-info{
  flex: 1;
  background: #fff;
  padding: 40px;
}
#contact-info h2{
  margin-bottom: 15px;
}

#contact-info p{
  color: #555;
  margin-bottom: 25px;
}
#contact-info ul{
  list-style: none;
}

#contact-info ul li{
  margin-bottom: 15px;
  color: #333;
}
#contact-info i{
  margin-right: 10px;
  color: #000;
}
/* FORM SECTION END */
/* FOOTER SECTION START */
#footer{
  background: #111;
  color: #fff;
  padding: 60px 0 20px;
}
#footer-container{
  width: 90%;
  margin: auto;
  display: flex;
  gap: 160px; 
}
.footer-box h3{
  text-transform: capitalize;
  margin-bottom: 20px;
}
.footer-box ul{
  list-style: none;
}
.footer-box ul li{
  margin-bottom: 12px;
  color: #ccc;
}
.footer-box ul li i{
  color: #2ecc71;
  margin-right: 10px;
}
/* Bottom */
#footer-bottom{
  text-align: center;
  border-top: 1px solid #333;
  padding-top: 15px;
  color: #aaa;
  font-size: 2em;
  margin-top: 40px;
}
#footer-bottom span{
  color: #2ecc71;
}
/* FOOTER SECTION END */


